.failure-img {
  width: 500px;
}
@media screen and (max-width: 768px) {
  .failure-img {
    width: 300px;
  }
}
.video-link {
  text-decoration: none;
}
.retry-button {
  width: 100px;
  padding: 8px;
  border-style: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4f46e5;
}
