.failure-img {
  width: 500px;
}
@media screen and (max-width: 768px) {
  .failure-img {
    width: 300px;
  }
}
.video-link {
  text-decoration: none;
}
.blue-icon {
  color: #2563eb;
}
.black-cion {
  color: #64748b;
}
.white-icon {
  color: #64748b;
}
.player-width {
  width: 350px;
}
